<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div scrollx="true">
      <iframe src="https://calendar.google.com/calendar/embed?src=9tiug0tl7kf7d2jhquh1sf5nt8%40group.calendar.google.com&ctz=Europe%2FMadrid" style="border: 0" width="800" height="600" frameborder="0" scrolling="yes">
      </iframe>
  </div>
    
</ion-content>
